/*Page CSS unities_page*/

body
{
    background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-color: black;
	color: rgb(42,42,42);
	font-family: 'Helvetica';
}


header
{
	/*background-color: rgb(255,255,255);*/
	text-align: center;
}

nav
{
	text-align: center;
}


div#section
{
	float:middle;
	background: url("back2.jpg");
	background-repeat:no-repeat;
	background-position: center;
	
	padding-left:20px;
	
	height:1000px;
	width:100%;
	/*background-color: rgb(255,255,255)*/;
}

div#content
{
	padding:70px;
	
	
	color:#feff97;
	font-family: 'Papyrus';
	font-size: 22px;
	
}

div#marginleft {
	float:left;
	width:550px;
	height:1000px;
	clear:both;
}

div#marginright {
	float:right;
	width:520px;
	height:1000px;
	/*clear:both;*/
}


footer
{
	margin-left:470px;
	color:grey;
}